{
  "env": {
    "development": {
      "plugins": ["@babel/plugin-proposal-optional-chaining"],
      "presets": [
        [
          "babel-preset-gatsby",
          {
            "targets": {
              "browsers": [">0.25%", "not dead"]
            }
          }
        ]
      ]
    },
    "opensource": {
      "plugins": ["@babel/plugin-proposal-optional-chaining"],
      "presets": [
        [
          "babel-preset-gatsby",
          {
            "targets": {
              "browsers": [">0.25%", "not dead"]
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "babel-plugin-transform-remove-console"
      ],
      "presets": [
        [
          "babel-preset-gatsby",
          {
            "targets": {
              "browsers": [">0.25%", "not dead"]
            }
          }
        ]
      ]
    }
  }
}
