html,
body button {
  font-family: 'Futura', 'Helvetica Neue For Number', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.banner-wrapper .banner-title-wrapper .title-line {
  transform: translateX(-64px);
  animation: bannerTitleLine 3s ease-in-out 0s infinite;
}
.banner-wrapper .banner-image-wrapper {
  width: 45%;
  max-width: 598px;
  height: 324px;
  position: absolute;
  right: 8%;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.home-page h2 {
  text-align: center;
  font-size: 28px;
  color: #314659;
  letter-spacing: 0.6px;
}
.home-page h2 span {
  font-weight: 600;
}
.home-page-wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  overflow: hidden;
}
.page1 {
  height: auto;
  width: 100%;
}

.page1-bg {
  font-size: 320px;
  color: #ebedf0;
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0.25;
  top: 0;
  transform: translateY(960px);
}
.page1-box-wrapper {
  margin-bottom: 62px;
  display: flex;
  align-items: flex-start;
}
.page1-box-wrapper li {
  width: 33.33%;
  display: inline-block;
  will-change: transform;
}
.page1-box-wrapper li .page1-box {
  width: 194px;
  margin: auto;
  text-align: center;
  position: relative;
}
.page1-box-wrapper li .page1-box .page1-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 20px auto 32px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}
.page1-box-wrapper li .page1-box:hover .page1-image {
  transform: translateY(-5px);
}
.page1-box-wrapper li .page1-box h3 {
  font-size: 16px;
  margin: 8px auto;
  font-weight: 700;
}
.page1-point-wrapper {
  position: absolute;
  width: 0;
  left: 50%;
  top: 0;
}
.page1-point-wrapper .point-0 {
  width: 4px;
  height: 4px;
}
.page1-point-wrapper .point-2,
.page1-point-wrapper .point-ring {
  width: 10px;
  height: 10px;
}
.page1-point-wrapper .point-ring {
  border-style: solid;
  border-width: 1px;
  background: transparent !important;
}
.page1-point-wrapper .point-1 {
  width: 6px;
  height: 6px;
}
.page1-point-wrapper .point-3 {
  width: 15px;
  height: 15px;
}
.page1-point-wrapper i {
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
  transform: translate(0, 30px);
}
.page2 {
  text-align: center;
  height: auto;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
}
.page2 .page2-content {
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page2-line {
  margin: 50px auto 24px;
  width: 114px;
}

.page-content {
  width: 760px;
  margin: 24px auto 32px;
  line-height: 28px;
}
.home-code {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 840px;
  border-radius: 4px;
  background: #f2f4f5;
  line-height: 28px;
  margin: 16px auto;
  color: #151e26;
  font-size: 16px;
  text-align: left;
  padding: 20px 50px;
}
.home-code span {
  color: #f5222d;
}
.home-code-comment {
  color: #314659;
}
@keyframes bannerTitleLine {
  0%,
  25% {
    transform: translateX(-64px);
  }
  75%,
  100% {
    transform: translateX(544px);
  }
}
@keyframes page1TitleLine {
  0%,
  25% {
    transform: translateX(-64px);
  }
  75%,
  100% {
    transform: translateX(376px);
  }
}
@keyframes page2TitleLine {
  0%,
  25% {
    transform: translateX(-64px);
  }
  75%,
  100% {
    transform: translateX(178px);
  }
}
