{
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-syntax-dynamic-import",
        "babel-plugin-styled-components"
      ]
    },
    "opensource": {
      "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-syntax-dynamic-import",
        "babel-plugin-styled-components"
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-syntax-dynamic-import",
        "babel-plugin-styled-components",
        "babel-plugin-transform-remove-console"
      ]
    }
  }
}
