html,
a {
  transition: color 0.3s ease;
}
a:focus {
  text-decoration-skip: auto;
}
.home-wrapper {
  width: 100vw;
  color: #697b8c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body {
  height: 100%;
  line-height: 1.5;
  color: #314659;
  font-size: 14px;
  background-color: #fff;
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow-x: hidden;
}
body button {
  font-family: 'Futura', 'Helvetica Neue For Number', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.home-wrapper .ant-btn {
  min-width: 110px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
}
.home-wrapper .ant-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(24, 144, 255, 0.4);
}
svg g {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  width: 100%;
  position: relative;
}
.banner-wrapper .banner-title-wrapper {
  width: 60%;
  max-width: 480px;
  top: 0;
  bottom: 0;
  margin-top: 15vh;
  margin-bottom: 5vh;
}
.banner-wrapper .banner-title-wrapper h1 {
  font-size: 54px;
  margin: 12px 0;
}

.banner-wrapper .banner-title-wrapper {
  font-size: 20px;
}
.banner-wrapper .banner-title-wrapper .button-wrapper {
  margin-top: 64px;
  line-height: 40px;
  align-items: center;
  display: flex;
}
.banner-wrapper .banner-title-wrapper .button-wrapper .github-btn {
  display: inline-block;
  height: 28px;
}
.banner-wrapper .banner-title-wrapper .button-wrapper .github-btn .gh-btn {
  height: 28px;
  border-radius: 4px;
  background: #f3f3f3;
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
  border: 1px solid #ebedf0;
  align-items: center;
  display: flex;
  padding: 0 12px;
  font-size: 13px;
}
.banner-wrapper
  .banner-title-wrapper
  .button-wrapper
  .github-btn
  .gh-btn:hover {
  color: #314659;
}
.banner-wrapper
  .banner-title-wrapper
  .button-wrapper
  .github-btn
  .gh-btn
  .gh-ico {
  margin-right: 8px;
}
.banner-wrapper .banner-title-wrapper .button-wrapper .github-btn .gh-count {
  height: 28px;
  line-height: 22px;
  background: #fff;
  border: 1px solid #ebedf0;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 13px;
}
.banner-wrapper .banner-title-wrapper .title-line {
  transform: translateX(-64px);
  animation: bannerTitleLine 3s ease-in-out 0s infinite;
}
.banner-wrapper .banner-image-wrapper {
  width: 45%;
  max-width: 598px;
  height: 324px;
  position: absolute;
  right: 8%;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.home-banner-image {
  display: none;
}
.title-line-wrapper {
  margin-top: 20px;
  height: 2px;
  width: 100%;
  overflow: hidden;
}
.title-line-wrapper .title-line {
  height: 100%;
  width: 64px;
  transform: translateX(-64px);
  background: linear-gradient(to right, rgba(24, 144, 255, 0) 0%, #1890ff 100%);
}
.home-page {
  margin: 0px;
}
.home-page h2 {
  text-align: center;
  font-size: 28px;
  color: #314659;
  letter-spacing: 0.6px;
}
.home-page h2 span {
  font-weight: 600;
}
.home-page-wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  overflow-x: hidden;
}
.page1 {
  height: auto;
  width: 100%;
}
.page1-line.title-line-wrapper {
  width: 312px;
  margin: 24px auto 76px;
}
.page1-line.title-line-wrapper .title-line {
  animation: page1TitleLine 3s ease-in-out 1.5s infinite;
}
.page1-bg {
  font-size: 320px;
  color: #ebedf0;
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0.25;
  top: 0;
  transform: translateY(960px);
}
.page1-box-wrapper {
  margin-bottom: 62px;
  display: flex;
  align-items: flex-start;
}
.page1-box-wrapper li {
  width: 33.33%;
  display: inline-block;
  will-change: transform;
}
.page1-box-wrapper li .page1-box {
  width: 194px;
  margin: auto;
  text-align: center;
  position: relative;
}
.page1-box-wrapper li .page1-box .page1-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 20px auto 32px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}
.page1-box-wrapper li .page1-box:hover .page1-image {
  transform: translateY(-5px);
}
.page1-box-wrapper li .page1-box h3 {
  font-size: 16px;
  margin: 8px auto;
  font-weight: 700;
}
.page1-point-wrapper {
  position: absolute;
  width: 0;
  left: 50%;
  top: 0;
}
.page1-point-wrapper .point-0 {
  width: 4px;
  height: 4px;
}
.page1-point-wrapper .point-2,
.page1-point-wrapper .point-ring {
  width: 10px;
  height: 10px;
}
.page1-point-wrapper .point-ring {
  border-style: solid;
  border-width: 1px;
  background: transparent !important;
}
.page1-point-wrapper .point-1 {
  width: 6px;
  height: 6px;
}
.page1-point-wrapper .point-3 {
  width: 15px;
  height: 15px;
}
.page1-point-wrapper i {
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
  transform: translate(0, 30px);
}
.page2 {
  text-align: center;
  height: auto;
  margin-bottom: 5vh;
}
.page2 .page2-content {
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page2-line {
  margin: 50px auto 24px;
  width: 114px;
}
.page2-line .title-line {
  animation: page2TitleLine 3s ease-in-out 0s infinite;
}
.page-content {
  width: 760px;
  margin: 24px auto 32px;
  line-height: 28px;
}
.home-code {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 840px;
  border-radius: 4px;
  background: #f2f4f5;
  line-height: 28px;
  margin: 16px auto;
  color: #151e26;
  font-size: 16px;
  text-align: left;
  padding: 20px 50px;
}
.home-code span {
  color: #f5222d;
}
.home-code-comment {
  color: #314659;
}
@keyframes bannerTitleLine {
  0%,
  25% {
    transform: translateX(-64px);
  }
  75%,
  100% {
    transform: translateX(544px);
  }
}
@keyframes page1TitleLine {
  0%,
  25% {
    transform: translateX(-64px);
  }
  75%,
  100% {
    transform: translateX(376px);
  }
}
@keyframes page2TitleLine {
  0%,
  25% {
    transform: translateX(-64px);
  }
  75%,
  100% {
    transform: translateX(178px);
  }
}
